.home-cards{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    min-height: 30vh;
    align-items: center;
    // background-color: aqua;
    margin: 2rem 0;

.card{
    
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 border: 1px solid black;
 padding: 3rem 1rem;
 box-shadow: 0px 20px 10px -14px rgba(64.0000000000001, 49, 160, 0.2784313725490196);
}
.card-upper{
    p{
        font-size: var(--step-1);
        margin: 0.5em 0;

    }
}
.card-lower{
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
    
    svg{
        height: 30px;
        width: 30px;
    }
}
}